@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: gray;
    display: flex;
    flex-direction: column;
}

#navbarContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-image: linear-gradient( 90deg, rgb(231, 0, 0) 0%, rgb(18, 173, 25) 33%, rgb(29, 57, 185) 66%, rgb(223, 2, 207) 100%);
}

.navbar {
    display: flex;
    background-image: url("/Images/navBarTexture.jpg");
    width: 90%;
    height: 50%;
    justify-content: space-between;
}

.navbar a {
    line-height: 3rem;
    text-decoration: none;
    font-size: max(1.8vw, 12px);
    color: crimson;
    padding: 0% min(3ch, 5px);
    margin: 0% 4vw;
    cursor: pointer;
}

.navbar a:hover,
.navbar a:focus {
    box-shadow: inset 0px 0px 10px violet;
    transition: all 200ms ease-out;
}

.trending-section h1,
.heading h1 {
    transform: translate();
    font-size: 5vw;
}

#info {
    display: flex;
    position: relative;
    transform: translate(40vw, 120px);
    width: max(20vw, 175px);
    background-color: #4F0F0F;
    padding: 3ch;
    display: block;
    color: rgb(226, 197, 144);
}

#info h1 {
    display: flex;
    justify-content: center;
    font-size: max(1.3vw, 15px);
}

#info h2 {
    display: flex;
    justify-content: center;
    font-size: max(1vw, 10px);
    padding-bottom: 3ch;
}

#info a,
#info p {
    line-height: 2ch;
    font-size: medium;
    padding-bottom: 1.5ch;
}

#info a {
    text-decoration: underline goldenrod;
    text-shadow: 1px 1px 2px white;
    color: wheat;
    padding-bottom: 0px;
}

#info a:hover,
#info a:focus {
    cursor: text;
    text-shadow: 1px 1px 0 rgb(158, 114, 3);
    transition: all 200ms ease-out;
}